@{
    ViewData["Title"] = "Pagina Inicial";

    
  
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><span style="color:orangered;">Bem Vindo Forsh Commerce </strong><a href="http://forshcommerce.com.br/">forshcommerce.com.br</a></span></p>
    <body style="background-image:url('http://forshcommerce.com.br/wp-content/uploads/2017/10/SLIDER.jpg');"></body>
    <h1><span style="color:chartreuse;">Site de Teste <img = href="http://forshcommerce.com.br/wp-content/uploads/2017/10/SLIDER.jpg" /></span> </h1>

    

    <h1 class ="display-3"><span style="color:brown;"> Forsh Commerce </span></h1>

    <p> <span style="color:brown;">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a></span></p>
</div>
